<template>
  <div id="app">
    <title-bar>title1</title-bar>
    <title-bar>title2</title-bar>
    <name-slot>
      <h1 v-for="idx in 3" :key="idx" slot="header">1 header</h1>
      <h1 slot="main">2 main</h1>
      <h1 slot="footer">3 footer</h1>
    </name-slot>
  </div>
</template>

<script>
import TitleBar from "./components/TitleBar.vue";
import NameSlot from "./components/NameSlot.vue";

export default {
  name: "App",
  components: {
    TitleBar,
    NameSlot,
  },
};
</script>

<style scoped>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
